<div id="<%=%>" class="element-item col-lg-2 art"  style="z-index:2">
                            <a href="artiste.php?ar=<%=artist.id%>" title="<%=artist.name%> - <%=artist.clips.first.mytitle%>">
                                <img class="img-fluid"  src="<%=artist.clips.first.image%>" alt="<%=artist.name%> - <%=artist.clips.first.mytitle%>">                                                          
                                                                <div class="artistes-2-content"><%=artist.name%></div>
                            </a>
                        </div>


