<style>
.label-primary{
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 49px;
    font-family: Gilmer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    color: #1F3356;
    width: 40px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
}

.label-primary:hover {
	background: #FFCB00;
}

.lg .btn-lg-52 {
	  min-width:120px;	 
      width: 100%;	  
}

.lg {
	  margin-left:10px;
	  margin-bottom:10px;
}

@media only screen and (min-width: 1024px) {
.lg {
  	  width:calc(100% / 6);
}
}
</style>
<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	
<!-- TOP DE LA SEMAINE  -->
<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	
	<div class="vecteur-10" ></div>
	
		<div id="artistes-0" class="artistes-0 bg-gray position-relative">

		<div class="container cat">
		
	
	            <div class="row">
                <div class="col-lg-9   offset-lg-1" style="z-index:2">                    
                    <div class="grid">
<%@allcats.each_with_index do |h,i|%>
										     
					    <div class="element-item lg" style="left:0px;top:<%=i*55%>px;">
                             <a href="artistes.php?cat=<%=h.id%>" class="btn-lg-52"> &nbsp;<%=h.name%> &nbsp;</a>
                        </div>
<%end%>
					   					     
					   
                    </div> <!-- end of grid -->

                    <!-- end of filter -->
                </div> <!-- end of col -->
                             </div> <!-- end of row -->	
	</div>
	</div>
	
			<div id="artistes-0" class="artistes-0 bg-gray position-relative">

		<div class="container">
	
	            <div class="row">
                <div class="col-lg-10 offset-lg-1" style="z-index:2">                    
          <div class="col-md-12 col-sm-12">
            
            <hr>
            <a href="artistes.php?l=A"><span class="label label-primary">A</span></a>&nbsp;<a href="artistes.php?l=B"><span class="label label-primary">B</span></a>&nbsp;<a href="artistes.php?l=C"><span class="label label-primary">C</span></a>&nbsp;<a href="artistes.php?l=D"><span class="label label-primary">D</span></a>&nbsp;<a href="artistes.php?l=E"><span class="label label-primary">E</span></a>&nbsp;<a href="artistes.php?l=F"><span class="label label-primary">F</span></a>&nbsp;<a href="artistes.php?l=G"><span class="label label-primary">G</span></a>&nbsp;<a href="artistes.php?l=H"><span class="label label-primary">H</span></a>&nbsp;<a href="artistes.php?l=I"><span class="label label-primary">I</span></a>&nbsp;<a href="artistes.php?l=J"><span class="label label-primary">J</span></a>&nbsp;<a href="artistes.php?l=K"><span class="label label-primary">K</span></a>&nbsp;<a href="artistes.php?l=L"><span class="label label-primary">L</span></a>&nbsp;<a href="artistes.php?l=M"><span class="label label-primary">M</span></a>&nbsp;<a href="artistes.php?l=N"><span class="label label-primary">N</span></a>&nbsp;<a href="artistes.php?l=O"><span class="label label-primary">O</span></a>&nbsp;<a href="artistes.php?l=P"><span class="label label-primary">P</span></a>&nbsp;<a href="artistes.php?l=Q"><span class="label label-primary">Q</span></a>&nbsp;<a href="artistes.php?l=R"><span class="label label-primary">R</span></a>&nbsp;<a href="artistes.php?l=S"><span class="label label-primary">S</span></a>&nbsp;<a href="artistes.php?l=T"><span class="label label-primary">T</span></a>&nbsp;<a href="artistes.php?l=U"><span class="label label-primary">U</span></a>&nbsp;<a href="artistes.php?l=V"><span class="label label-primary">V</span></a>&nbsp;<a href="artistes.php?l=W"><span class="label label-primary">W</span></a>&nbsp;<a href="artistes.php?l=X"><span class="label label-primary">X</span></a>&nbsp;<a href="artistes.php?l=Y"><span class="label label-primary">Y</span></a>&nbsp;<a href="artistes.php?l=Z"><span class="label label-primary">Z</span></a>

            <hr>

          </div>
                    <!-- end of filter -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
	
	</div>
	</div>
	
	
	




<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	
<!-- TOP ARTISTES  -->
<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	

	<div id="artistes-2" class="artistes-2 bg-gray position-relative">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading"  style="z-index:2">ARTISTES </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">                    
                    <div class="row" id="art_preview">
					
					
			<%=render collection: @artists, partial: "artists/myartist", as: :artist%>		
					
				                   </div> <!-- end of col -->
            </div> <!-- end of row -->
			<div class="col-lg-12">    
						</div>
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of top artistes -->	


<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	
<!-- TOP CatEAUX  -- ---->
<!-- --- --- --- --- -- -->	
<!-- --- --- --- --- -- -->	

	<div id="artistes-3" class="artistes-3 bg-gray position-relative" style="z-index:3">
		<div class="vecteur-11" ></div>
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading">TOP STYLE </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">                    
<%=render collection: @top_style, as: :clip, partial: "artists/mytopstyle"%>
				   
                    <!-- end of filter -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
			             <br />
						<div class="col-lg-12">      
					                    <div class="row text-center" id="st_voir_plus" >
			            <a class="btn-solid-top" data-voirplus="<%=(params[:cat].to_i > 0 ? ("mytopstyle") : (params[:l].to_s.length > 0 ? "myartist" : ""))%>" style="margin: auto;">Voir plus</a>
			        </div>
			        			</div>
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of TOP morceauX -->	
	

	
			<div id="artistes-4" class="artistes-4 bg-gray position-relative" style="z-index:3">
				<div class="container">	

			
				</div>
			</div>
<!--  FOOTER AREA START  -->

<script>
$(".fa-angle-right").click(function() {
    $('.horizontal-scroll-wrapper').animate({
        scrollTop: $(".fa-angle-left").offset().top},
        'slow');
});

$(".fa-angle-left").click(function() {
    $('.horizontal-scroll-wrapper').animate({
        scrollTop: $(".fa-angle-right").offset().top},
        'slow');
});

$(function() {
    $('.horizontal-scroll-wrapper').scroll(function() {
            $(".fa-angle-right").hide();
    });
});


var url = new URL(window.location.href);
var letter = url.searchParams.get("l");
var categ = url.searchParams.get("cat"); 
  if (letter!=null) {
  var elem = document.getElementById("artistes-2");
                elem.scrollIntoView();
  }
  
    if (categ!=null) {
  var anc2 = document.getElementById("artistes-3");
                anc2.scrollIntoView();
  }
</script>





<%=content_for :myjs do%>
  <script>
$(document).ready(function(){
 let rp ='';
    $("#art_voir_plus").click(function(){
   //simple jQuery Ajax check if the users are at bottom of the window
   //scroll to returns 0
   let art_preview = document.getElementById('art_preview');
		fetchArtistes();
    });
	
	
  $("#st_voir_plus").click(function(){
  
   //simple jQuery Ajax check if the users are at bottom of the window
   //scroll to returns 0
   let style_preview = document.getElementById('style_preview');
		fetchstyles();
    });


    function fetchArtistes()
    {
    let ids= $('.art:last').attr("id");
      $.ajax({
      type: 'post',
	  asynch: false,
      url: 'fetch-artistes-letters.php',
	  cache: false,
      data: {
       getArtistdata:ids,
	   letter: ''
      },
      success: function (response) {
		   if (rp!=response){
			   rp =response;
    //appending the result fetch_product_list page result with div id data_preview
		   $('#art_preview').append(response);}
	  else { $("#art_voir_plus").hide(); } }
      });
    }

	
	
    function fetchstyles()
    {
    let ids= $('.sty:last').attr("id");
      $.ajax({
      type: 'post',
	  asynch: false,
      url: 'fetch-artistes-style.php',
	  cache: false,
      data: {
       getArtistdata:ids,
	   cat: '9'
      },
      success: function (response) {
		   if (rp!=response){
			   rp =response;
    //appending the result fetch_product_list page result with div id data_preview
		   $('#style_preview').append(response);}
	  else { $("#st_voir_plus").hide(); } }
      });
    }
	});
</script>
<%end%>
