<div id="<%= dom_id clip %>">
  <p>
    <strong>Cat:</strong>
    <%= clip.cat_id %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= clip.link %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= clip.email %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= clip.region %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= clip.video %>
  </p>

</div>
