<%= form_with(model: clip) do |form| %>
  <% if clip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
        <% clip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cat_id, style: "display: block" %>
    <%= form.number_field :cat_id %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :region, style: "display: block" %>
    <%= form.text_field :region %>
  </div>

  <div>
    <%= form.label :video, style: "display: block" %>
    <%= form.check_box :video %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
