<%=simple_format(@results.html_safe)%>
<%jobs = [
"Dancehall", "Hip-Hop", "Trap", "Zouk", "Reggae", "Soca", "Bouyon", "Soul & Traditionnel",

"auteur", "interprète", "production", "compo", "mix", "réalisé", "DA", "figuration", "remerciement",

"mastering",
"réalisation", "acteurs", "les lovelies", "auteur compositeur", "chef op",
        "cadreuse", "montage", "effets spéciaux", "déco", "sound design", "prod",
        "assistant réalisateur", "assistant mise en scène", "assistants opérateurs",
        "chef électro", "electros", "machinos", "photos", "remerciements",
        "musique générique fin",




  "Réalisation",
"Rec","Master",
  "Production",
  "Chef opérateur",
  "1er Assistant réalisateur",
  "2nd Assistant réalisateur",
  "Montage & Étalonnage",
  "Post-production",
  "1er Assistant Caméra",
  "2nd Assistant Caméra",
  "Composé",
  "Réalisé",
  "Mixé",
  "Producteur exécutif",
  "Producteur",
  "Production",
  "records",
  "Réalisateur",
  "Réalisations",
  "Auteurs",
  "Compositeur",
  "Production",
  "Editions",
"Réalisation Clip ","Réalisation Musicale",
"Maquillage",
"Coiffure",
"Assistante",
"Record","Programmation","Mix"," Montage"," Etalonnage",
"Pianiste / Autrice",
"Compositeur.e.s",
"Production / Editions",
  "Scénariste",
  "Directeur de production",
  "Assistant réalisateur",
  "Lumière",
  "Lumière/Électro",
  "Maquilleur",
  "Assistant maquillage",
  "Coiffeur",
  "Ongles",
  "Enregistrement",
  "Mixage",
  "Danseuses",
  "Auteur Compositeur", "Auteur", "Compositeur", "Mix/Mastering", "Prise de voix", "Production", "Réalisation", "Cadrage", "Étalonnage", "Aide technique",
  "Réalisateur", "Scénariste", "Créateur de Moodboard", "Scénographe", "Conception Artistique", "Monteur",
  "Directeur de la Photographie", "Opérateur de Caméra", "Assistant Caméra", "Monteur de Bande-Son", "Coloriste",
  "Artiste Vocal", "Violoniste", "Arrangeur", "Compositeur", "Producteur Musical", "Ingénieur du Mixage",
  "Ingénieur du Mastering", "Studio d'Enregistrement", "Responsable Artistique Commercial", "Responsable Administratif Financier",
  "Producteur Exécutif", "Assistant de Production", "Marketeur Digital", "Stratégiste en Médias Numériques",
  "Gestionnaire des Médias Sociaux", "Chorégraphe", "Danseur", "Conseiller en Image et Presse", "Maquilleur",
  "Coiffeur", "Styliste Ongulaire", "Directeur de Costume", "Directeur de Caractérisation", "Styliste",
  "Créateur de Costumes", "Photographe", "Designer de Couverture", "Assistant Photographe", "Vidéo Making-Of",
  "Producteur", "Gestionnaire Stratégique", "Distributeur",
  "Réalisé",
  "Producteur exécutif",
  "Directeur de production",
  "Chef électricien & OPV",
  "Maquilleuse",
  "Stylisme",
  "Créatrice",
  "Assistantes production"

].map(&:downcase)
%>
<%jobs.each do |x|%>
<%=label_tag x, for: x.camelize do%>

<%=check_box_tag "job", x, false, id: x.camelize%>
<%=x%>
<%end%>
<%end%>
<%video_credits = [
  "Director",
  "Creative Director",
  "Producer",
  "DP, editor, colorist",
  "Stylist",
  "Production company",
  "Production coordinator",
  "Focus Puller",
  "2nd Camera assistant",
  "Camera PA",
  "Make up artist",
  "Hair stylist",
  "Dancer Makeup",
  "Styling assistants",
  "Gaffer",
  "Grips",
  "Production assistants",
  "BTS photographer",
  "Dancers",
  "Shensheea glam",
  "Hair",
  "Make Up",
  "Styling",
"Title", "Artist", "Genre", "Produced by", "Mixed & Mastered by", "Visuals",

  "Follow MOLIY on"
]
%>
<p>jobs english</p>
<%video_credits.each do |x|%>
<%=label_tag x, for: x.camelize do%>

<%=check_box_tag "job", x, false, id: x.camelize%>
<%=x%>
<%end%>
<%end%>

<%locations = [
"Martinique",
"Guadeloupe",
"Guyane",
"Mayotte",
"La Réunion",
"Saint-Martin",
"Saint-Barthélemy",
"Nouvelle-Calédonie",
"Polynésie française",
"Wallis-et-Futuna",
"Haiti",
"Seychelles",
"Maurice",
"Madagascar",
"Comores"
]
%>

<h2>Choisissez un pays :</h2>
<%locations.each_with_index do |loc,i|%>
<label><input type="radio" name="country" value="<%=loc%>" <%=i==0 ? "checked" : ""%>> <%=loc%></label>
<%end%>

<button onclick="hey()" type="button">chercher une video</button>
<script>
function hey(){
var x =$("[name=job]:checked").select().toArray().map(x=>x.value).join(" ")
var y =$("[name=country]:checked").select().toArray().map(x=>x.value).join(" ")
window.open("/my_fav_jobs?country="+y+"&jobs="+x)

}
</script>
