<p style="color: green"><%= notice %></p>


	<div id="artistes-1" class="details-1 bg-gray position-relative" data-id="9471">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex; margin-top: 30px;">
					 <br />
					 <br />
					                     <h2 style="width: 50%; text-align: leftt;"class="h2-heading-details"  style="z-index:2">
                      <%@clip.artists.each do |artist|%><a href="/artiste.php?ar=<%=artist.id%>" title="<%=@clip.title%>">
                          <%=artist.name%>                          </a><%end%> <%=@clip.mytitle%></h2>
                     <h3 style="width: 40%; text-align: right; color:gold"><i class="fa fa-eye" aria-hidden="true"></i><%=t("monclip.vue",count: @clip.views.length)%></h3>
					<br />
					 <br />
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">
                    <div class="row">

                    <div class="video-responsive">
                   	<iframe width="80%" height="548" src="https://www.youtube.com/embed/<%=@clip.link%>?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
					</div>

                </div> <!-- end of col -->
            </div> <!-- end of row -->


								<div class="text-3">
					Partager
					</div>
					<!-- Facebook -->
                       	   <button style="background:transparent!important; border:0!important" class="button" data-sharer="facebook" data-title="hit-lokal!" data-hashtag="hitlokal" data-url="https://hit-lokal.com/videos.php?vid=<%=@clip.title.parameterize%>">
			        <i class="fab fa-facebook-f" style="background: #ffd800;  padding: 15px 20px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
			         </button>
                    <!-- Facebook -->

					<!-- Twitter -->
                    <button style="background:transparent!important; border:0!important" class="button" data-sharer="twitter" data-title="hit-lokal!" data-hashtags="hitlokal" data-url="https://hit-lokal.com/videos.php?vid=lizi-loverdose">
				     <i class="fab fa-twitter" style="background: #ffd800;    padding: 15px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
				    </button>
					<!-- Twitter -->




			    <div class="col-lg-8  offset-lg-2">
                    <div class="row" style="margin-top: 30px">

              			   <div class="entry-post" style="white-space: pre-wrap;">
                      
<%=simple_format(@clip.description.html_safe)%>
					</div>
                    

					  <div class="col-lg-8  offset-lg-2">
                    <div class="row" style="margin-top: 30px; margin-bottom: 30px">

                                              </div>
                    </div>


                  <table class="table">
                    <th colspan="6">A propos de <%=@clip.title%></th>

                    <tr>
                      <td>Titre</td>
                      <td><%=@clip.title%></td>

                      <td class="break">Artiste(s)</td>
                        <%@clip.artists.each do |x|%>
                       <td><a href="artiste.php?ar=<%=x.id%>"><%=x.name%></a></p></td>
                        <%end%>
                    </tr>
                    <tr>
                      <td class="break">Catégorie(s)</td>
                      <td><%=@clip.cat.name%></p></td>

                      <td class="break">Sortie le</td>
                      <td><%=l(@clip.sortie)%></td>
                    </tr>

                  </table>

                  <div class="table-responsive">
                  <table class="table table-condensed">

                    <th colspan="6">Statistiques de <%=@clip.title%></th>

                    <tr>
                      <td>Meilleure position</td>
                      <td><span class="label label-stat" title="Meilleur position dans le top"><i class="fa fa-trophy fa-1x"></i> <%=@clip.meilleurepos%></span>&nbsp;</td>

                      <td  class="break">Position la semaine dernière</td>
                      <td >
                        <span class="label label-stat" title="Position la semaine dernière"><i class="fa fa-caret-square-left fa-1x"></i> <%=@clip.positionsemderniere||"New"%></span>&nbsp;
                      </td>

                      <td class="break">Nbr semaine dans le top</td>
                      <td><span class="label label-stat" title="Nombre de semaines dans le top"><i class="fa fa-clock" aria-hidden="true"></i> <%=@clip.nbsemtop%></i></span></td>
                    </tr>

                  </table>
				  </div>



				        </div> <!-- end of col -->
            </div> <!-- end of row -->


		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of top artistes -->
<div id="artistes-2" class="details-2 bg-gray position-relative">
		<div class="container">
		            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading-details"  style="z-index:2">Vous pourriez aussi aimer</h2>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">
                    <div class="row">
					                        <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="../../videos.php?vid=lizi-loverdose" title="Lizi - loverdose">
                              <img class="img-fluid"  src="../../media/clip/2023/07/lizi-loverdose-clip-officiel-2023.jpg" alt="Lizi - loverdose">
								<div class="artistes-2-content">Lizi</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="../../videos.php?vid=jooslyf-x-mata-feux-dla-mort" title="Jooslyf x mata - Feux d'la mort">
                              <img class="img-fluid"  src="../../media/clip/2023/07/jooslyf-x-mata-feux-dla-mort-2023.jpg" alt="Jooslyf x mata - Feux d'la mort">
								<div class="artistes-2-content">Jooslyf x mata</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="../../videos.php?vid=cecinelle-pa-taw" title="Cécinelle - Pa taw">
                              <img class="img-fluid"  src="../../media/clip/2023/07/cecinelle-pa-taw-clip-officiel--2023.jpg" alt="Cécinelle - Pa taw">
								<div class="artistes-2-content">Cécinelle</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="../../videos.php?vid=killi-x-lydogg-lari" title="Killi x Lydogg - Lari">
                              <img class="img-fluid"  src="../../media/clip/2023/07/killi-x-lydogg-lari-2kartel-films-2023.jpg" alt="Killi x Lydogg - Lari">
								<div class="artistes-2-content">Killi x Lydogg</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="../../videos.php?vid=walton-clr-x-rodias-patience" title="Walton clr x Rodias - Patience">
                              <img class="img-fluid"  src="../../media/clip/2023/07/walton-clr-x-rodias-patience-2023.jpg" alt="Walton clr x Rodias - Patience">
								<div class="artistes-2-content">Walton clr x Rodias</div>
                            </a>
                        </div>
					                    </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of top artistes -->



<div>
  <%= link_to "Edit this clip", edit_clip_path(@clip) %> |
  <%= link_to "Back to clips", clips_path %>

  <%= button_to "Destroy this clip", @clip, method: :delete %>
</div>
