<div class="col-lg-4 col-xs-12 top-510"> 
                                     
                    <div class="image-container" style="position:relative; z-index:1" > 
                                         <a  href="videos.php?vid=<%=clip["title"].parameterize%>"> 
                        <img class="img-fluid top-511" src="<%=clip["image"]%>" alt="<%=clip["title"]%>" /> 
                     </a> 
                                        </div> 
                                         <div class="row top-512"> 
                                         <div class="col-lg-4 col-xs-12"> 
                                          <a  href="videos.php?vid=<%=clip["title"].parameterize%>"> 
                                             <div class="artist" ><%=clip["title"].split("-")[0]%></div> <div class="title"><%=clip["title"].split("-")[1]%></div> 
                                          </a> 
                                        </div> 
                                        <div class="col-lg-4 col-xs-12"> 
                                         <a href="videos.php?vid=<%=clip["title"].parameterize%>" class="btn-solid-lg" style="padding: 0.625rem 0.625rem 0.625rem 0.625rem !important;line-height: 1!important;">regarder </a> 
                                        </div> 
                                        </div> 
                                         
                                                                </div> 
                                 
                                 
 
                        </div> 
                </div> 
