  <div class="element-item col-lg-4">
                                                        <div class="hovereffect">
                                                                <img class="img-responsive" src="<%=clip.image%>" alt="<%=clip.title%>">
                                                                <div class="overlay">
                                                           <h2 class="compo-content"><%=clip.title%><br />
                                                                        <%=clip.date.sortie%> - <%=clip.cat.name%>, </h2>
                                                           <a class="info" href="videos.php?vid=<%=clip.title.parameterize%>" title="<%=clip.title%>">Regarder</a>
                                                                </div>
                                                        </div>
                                                </div>

