<%= form_with(model: checkmusicalprod) do |form| %>
  <% if checkmusicalprod.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checkmusicalprod.errors.count, "error") %> prohibited this checkmusicalprod from being saved:</h2>

      <ul>
        <% checkmusicalprod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :isMusicalprod, style: "display: block" %>
    <%= form.number_field :isMusicalprod %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
