 <div class="element-item  col-lg-3">
                            <a href="/videos.php?vid=<%=clip.title.parameterize%>" title="<%=clip.title%>">
                                <img src="<%=clip.image%>" alt="<%=clip.title%>" />
                                                                  <div class="artist" ><%=clip.myartist%>  </div> <div class="title"> <%=clip.mytitle%></div>
                            </a>
                        </div>

