<a  href="actualites/<%=news.title.parameterize%>" target="_blank">
  <img class="img img-01" src="/uploads/<%=news.image%>" alt="">

  <img class="img img-02" src="/uploads/<%=news.image%>" alt="">
  </a>

  <div class="credit">
  <p><a target="_blank" href="actualites/<%=news.title.parameterize%>"><%=news.title%></a></p>
</div>

