  <div class="carousel-item active" id="<%=news_iteration+1%>">
                    <div class="col-md-2">
                        <div class="card">
                                           <a href="/actualites/<%=news.title.parameterize%>" title="<%=news.title%>">
                            <div class="card-img position-relative">
                                <img src="/uploads/<%=news.image%>"
                                             alt="<%=news.title%>" class="img-fluid">
                                                        <!--    <div class="badge">
                                                                        <button class="btn-solid-yellow">Artiste</button> 
                                                                </div> -->
                            </div>
                                                   </a>
                        </div>
                    </div>
                </div>

