<div class="image-container" style="position:relative; z-index:1;  font-size: 14px;" >

                         <a href="/actualites/<%=news.title.parameterize%>" title="<%=news.title%>">
                                                    <img src="/uploads/<%=news.image%>" alt="<%=news.title%>"

                                                 style="width: 300px;
                                                                height: 200px;
                                                                background: #C4C4C4;"
                                                />
                                                </a>
                                                 <div style="max-width: 300px;"><b><%=news.title%></b></div>
                     </div> <!-- end of col -->
                     <br />

