<p style="color: green"><%= notice %></p>

<style>
iframe {
    border: 0!important;
    max-width: 100%!important;
}

.img-h{
    height: 450px;
    margin: auto;
    background: #C4C4C4;
}

@media only screen and (max-width: 600px) {
    .img-h{
    height: auto;
    margin: auto;
    background: #C4C4C4;
    }
}
</style>
    <div id="actu-1" class="basic-2 position-relative actu-1"  style="z-index:2">
        <span style="display: none">
                    </span>
		<div class="vecteur-8" ></div>
        <div class="container">
		            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading">Les actus </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row container-p1 actu-m">


                <div class="col-lg-8 col-xs-12 ">
                    <h1 style="font-size:32px"><%=@news.title%></h1>

				  <!--   <button class="btn-solid-green">Artiste</button> -->
				     <div class="text-1">Ecrit par <%=@news.user.username%> le <%=l(@news.created_at.to_date)%> - <span style="font-weight:600; color: black; margin-left:5px">  <%=t("monclip.vue",count:@news.views.length)%></span></div>
                    <hr />
                    <div style="display: flex; justify-content: space-around;     margin-top: -10px; line-height: 3;">
                    <div class="text-3">
					Partager
					</div>
					<div>
					<!-- Facebook -->

                     <button style="background:transparent!important; border:0!important" class="button" data-sharer="facebook" data-title="hit-lokal!" data-hashtag="hitlokal" data-url="https://hit-lokal.com/actualites/<%=@news.title.parameterize%>">
			        <i class="fab fa-facebook-f" style="background: #ffd800;  padding: 10px 15px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
			         </button>

                    <!-- Facebook -->

					<!-- Twitter -->
                    <button style="background:transparent!important; border:0!important" class="button" data-sharer="twitter" data-title="hit-lokal!" data-hashtags="hitlokal" data-url="https://hit-lokal.com/actualites/<%=@news.title.parameterize%>">
				     <i class="fab fa-twitter" style="background: #ffd800;    padding: 10px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
				    </button>
					<!-- Twitter -->
					</div>
                    </div>
                     <div class="image-container" style="position:relative; z-index:1" >
                        <img class="img-fluid img-h" src="<%=@news.image%>"
                            alt="<%=@news.title%>"
						/>
                     </div> <!-- end of col -->
					 <div class="col-lg-8 text-2" style="width: auto;" id="resumeArticle">
<%=strip_tags(@news.content.to_s)[0..124]%>                    </div> <!-- end of text-container -->

                       <div style="float: right; cursor: pointer; color: black" id="viewAll" onclick="document.getElementById('resumeArticle').style.display='none';document.getElementById('viewAll').style.display='none';document.getElementById('allArticle').style.display='block';document.getElementById('viewAll').style.display='none';">Lire tout l'article</div>
                        <br />
	                <div class="col-lg-8 text-2" style="width: auto; display: none" id="allArticle" >

<%=simple_format(@news.content).html_safe%>
                    <hr />
                    <div style="display: flex; justify-content: space-around;     margin-top: -10px; line-height: 3;">
                    <div class="text-3">
					Partager
					</div>
					<div>
					<!-- Facebook -->
                       	   <button style="background:transparent!important; border:0!important" class="button" data-sharer="facebook" data-title="hit-lokal!" data-hashtag="hitlokal" data-url="https://hit-lokal.com//actualites/<%=@news.title.parameterize%>">
			        <i class="fab fa-facebook-f" style="background: #ffd800;  padding: 10px 15px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
			         </button>
                    <!-- Facebook -->
					<!-- Twitter -->
                    <button style="background:transparent!important; border:0!important" class="button" data-sharer="twitter" data-title="hit-lokal!" data-hashtags="hitlokal" data-url="https://hit-lokal.com//actualites/<%=@news.title.parameterize%>">
				     <i class="fab fa-twitter" style="background: #ffd800;    padding: 10px; font-size: 25px; border-radius: 100%; color: #FFF"></i>
				    </button>
					<!-- Twitter -->
					</div>
                    </div>
                    <div class="text-3 text-4">
					    Commentaires (<%=@news.comments.length%>)
					</div>
										<form id="mymsg" action="/comments" method="post">
                        <div class="form-group">
                            <%if !user_signed_in?%>Vous devez être connecté(e) pour laisser un commentaire.<%end%>                            <textarea class="form-control-textarea" placeholder="Message" required <%if !user_signed_in?%>disabled<%end%> ></textarea>
<%if user_signed_in?%>
<input type="hidden" value="<%=current_user.id%>"/>
<button type="submit">envoyer</button>
<%end%>

                        </div>
                    </form>
                    </div>
				</div>
			    <div class="col-lg-4 col-xs-12">
                    <h2 style="background: #272727;
                                font-size: 14px;
                                font-weight: 500;
                                text-transform: uppercase;
                                margin: 0 0 15px;
                                color: #fff;
                                text-align: center;
                                max-width: 300px;">
                        Dernières actualités</h2>
<%=render partial: "news/lastnew", collection: @lastnew, as: :news%>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


<!-- --- -->
<!-- --- -->
<!-- actu-2 -->
<!-- --- -->
<!-- --- -->
	<div id="actu-2" class="basic-2  bg-gray position-relative" style="z-index:2">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading">Encore plus d'actus à découvrir </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
			<div class="container">
					 <div class="col-lg-12">
            <div class=" actu-2 row">
                                <!--
<%=render collection: @othernew, as: :news, partial: "news/othernew"%>
                    <button class="btn-solid-red">Album</button>
                    <button class="btn-solid-yellow">Awards</button>

                    <button class="btn-solid-brown">Release</button>
                    -->
                <!-- end of filter -->
                </div> <!-- end of col -->
            </div>
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of sorties -->

<div>
  <%= link_to "Edit this news", edit_news_path(@news) %> |
  <%= link_to "Back to news", news_index_path %>

  <%= button_to "Destroy this news", @news, method: :delete %>
</div>
